extends ./layout

block content
  .row
    .col-lg-12
      .page-banner
        video(poster='', playsinline='', autoplay='', loop='', muted='')
          source(src='video/moving_ocean.mp4', type='video/mp4')
        h1 GOL