extends ./layout

block content
  .row
    .col-lg-12
      .page-banner
        video(poster='https://s3.amazonaws.com/distill-videos/videos/processed/34/TheColorRunHawaiiHD.mp4.mp4', playsinline='', autoplay='', muted='')
          source(src='https://s3.amazonaws.com/distill-videos/videos/processed/34/TheColorRunHawaiiHD.mp4.mp4', type='video/mp4')
        h1 GOL

  //- .row
  //-   .col-lg-12
  //-     .homepage-gradient-block
  //-       p.lead.hometext Welcome to the #[strong Gol Web App], where you can create the only to-do list you'll ever need. 
  //-       p.lead.hometext We believe in simple organization, easy-to-use lists, & frequent naps.
  //-       p.lead.hometext Developed by #[a(href="https://github.com/asantos3026") Aileen], #[a(href="https://github.com/EthanJStark") Ethan], #[a(href="https://github.com/sydroth") Syd], and #[a(href="https://github.com/deadlyicon") Jared].


