extends ./layout

block content
  h1 Welcome to GOL, this is where Aileen's awesome nav will go.

  .container
    .row
      br
      .col-lg-6.homepage-gradient-border-top-left
        p.lead.hometext Welcome to the #[strong Gol Web App], where you can create the only to-do list you'll ever need. #[br]#[br]  We believe in simple organization, easy-to-use lists, & frequent naps.#[br]#[br]   Developed by #[a(href="https://github.com/asantos3026") Aileen], #[a(href="https://github.com/EthanJStark") Ethan], #[a(href="https://github.com/sydroth") Syd], and #[a(href="https://github.com/deadlyicon") Jared].
      .col-lg-6.homepage-gradient-border

  