extends ./layout

block content
  .row
    .col-lg-12
      .page-banner

  .row
    .col-lg-12
      .homepage-gradient-border-top-left
        p.lead.hometext Welcome to the #[strong Gol Web App], where you can create the only to-do list you'll ever need. 
        p.lead.hometext We believe in simple organization, easy-to-use lists, & frequent naps.
        p.lead.hometext 
          span Developed by 
          a(href="https://github.com/asantos3026") Aileen &nbsp;
          a(href="https://github.com/EthanJStark") Ethan &nbsp;
          a(href="https://github.com/sydroth") Syd &nbsp;
          span and &nbsp;
          a(href="https://github.com/deadlyicon") Jared

