doctype html
html(lang="en")
  head
    title Gol
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/javascripts/browser.js")

  body
    .container
      nav.content-width
        ul#nav-ul
          li.nav-links
            a(href='/', title='Home') Home
          li.nav-links
            a(href='#', title='Blog') Blog
          li.nav-links
            a(href='#', title='Work') Work
          li.nav-links
            a(href='#', title='Resources') Resources
          li.nav-links
            a(href='#', title='Meta') Meta

      header
        ul.list-inline
          li
            a(href="/") GOL
          if loggedIn
            li
              a(href="/logout") Logout
          else 
            li
              a(href="/login") Login
            li
              a(href="/signup") Signup
      
      block content