doctype html
html(lang="en")
  head
    title Gol
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz", rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/style.css")
    script(src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(src="/javascripts/browser.js")

  body
    .container
      header
        nav.navbar-default
          ul.header-list
            li
              a(href="/" title="Home").brand
                img(src="http://i.imgur.com/gogZFsYt.jpg")
            if loggedIn
              li
                a(href="/logout" title="Logout") Logout
            else
              li
                a(href="#", data-toggle="modal", data-target="#signupmodal") Sign up
              li
                a(href="#", data-toggle="modal", data-target="#loginmodal") Login
              #loginmodal.modal.fade.bannerformmodal(tabindex="-1", role="dialog", aria-labelledby="loginmodal", aria-hidden="true")
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-content
                      .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                        h4#myModalLabel.modal-title Login 
                      .modal-body
                        form(method="post" action="/login")
                          .form-group
                            label(for="email") Email address
                            input#email.form-control(type="email" name="user[email]" placeholder="Email")
                          .form-group
                            label(for="password") Password
                            input#password.form-control(type="password" name="user[password]" placeholder="Password")
                            button.btn.btn-primary(type="submit") Login
       
              #signupmodal.modal.fade.bannerformmodal(tabindex="-1", role="dialog", aria-labelledby="signupmodal", aria-hidden="true")
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-content
                      .modal-header
                        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
                        h4#myModalLabel.modal-title Sign up 
                      .modal-body
                        form(method="post" action="/signup")
                          .form-group
                            label(for="email") Email address
                            input#email.form-control(type="email" name="user[email]" placeholder="Email")
                          .form-group
                            label(for="password") Password
                            input#password.form-control(type="password" name="user[password]" placeholder="Password")
                          .form-group
                            label(for="password-confirmation") Password Confirmation
                            input#password-confirmation.form-control(type="password" name="user[password_confirmation]" placeholder="Password Confirmation")
                          button.btn.btn-primary(type="submit") Sign up
      block content