doctype html
html(lang="en")
  head
    title Gol
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

  body
    .container
      header
        ul.list-inline
          li
            a(href="/") GOL
          if loggedIn
            li
              a(href="/logout") Logout
          else 
            li
              a(href="/login") Login
            li
              a(href="/signup") Signup
      
      block content