doctype html
html(lang='en')
  head
    title Gol

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    header
    block content