/*a {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3rem;
}

a:hover {
  text-decoration: none;
  background-color: rgba(229, 214, 166, 0.92);
}*/

body > .container {
  margin-top: 80px;
}


.header-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: lightgrey;
}
.header-list a{
  line-height: 70px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3rem;
  padding: 0 0.25em;
}
.header-list a,
.header-list a:hover,
.header-list a:active{
  text-decoration: none;
}
.header-list a:hover{
  background-color: rgba(229, 214, 166, 0.92);
}
nav .logo {
  font-size: 60px;
}



.page-banner{
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  height: 300px;
  background-color: black;
}
.page-banner > *{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}
.page-banner > h1{
  color: white;
  text-align: center;
  font-size: 200px;
}

/*.header-list > li > a:hover, .header-list > li > a:focus {
  display: block;
  color: white;
  text-decoration: none;
  background-color: rgba(229, 214, 166, 0.92);
}
*/

.nav-logo {
  left: 0px;
  position: fixed;
  top: 0auto;
}

.todo-list-item{
  padding: 5px 10px 5px 0;
}

input.todo-list-item-checkbox{
  margin-right: 1em;
}

.todo-list-item-title{
}

.todo-list-item-title-input{
  display: none;
  width: auto;
  min-width: 80%;
}

.complete-todo-list-item .todo-list-item-title{
  text-decoration: line-through;
}

.todo-list-item-submit-button,
.todo-list-item-cancel-button{
  display: none;
}

.todo-list-item.editing-todo-list-item .todo-list-item-submit-button,
.todo-list-item.editing-todo-list-item .todo-list-item-cancel-button,
.todo-list-item.editing-todo-list-item .todo-list-item-title-input{
  display: inline;
}

.todo-list-item.editing-todo-list-item .todo-list-item-title,
.todo-list-item.editing-todo-list-item .todo-list-item-edit-button,
.todo-list-item.editing-todo-list-item .todo-list-item-move-up-button,
.todo-list-item.editing-todo-list-item .todo-list-item-move-down-button,
.todo-list-item.editing-todo-list-item .todo-list-item-delete-button
{
  display: none;
}


.hometext {
  padding: 1em;
  margin: 0;
}

a:link {
  color: #253956;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #253956;
}

a:hover {
  text-decoration: underline;
  color: #253956;
}

.homepage-gradient-border-top-left {
  /*position: absolute;*/
  /*padding-top: 1.5em;*/
  background-repeat: no-repeat;
  background-size: 100% 4px;
  border: 5px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(-68deg, #253956 9%, white 44%);
  border-image-slice: 1;
  background: linear-gradient( to right bottom, #E5D6A6, white );
}

.homepage-gradient-border-bottom-right {
  position: absolute;
  padding-top: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  border: 5px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(-67deg, #253956 9%, white 45%);
  border-image-slice: 1;
}


.pp{
  animation-duration: 10s;
  animation-name: slidein;
}

keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}


.todo-list-controls > * {
  margin-bottom: 5px;
}

