
body > .container {
  margin-top: 60px;
}

.navbar-fixed-top {
  min-width: 100%;
}

.header-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background: linear-gradient(to left, grey 20%, black 50%);
}
.header-list a:link,
.header-list a:visited{
  line-height: 70px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3rem;
  padding: 0 0.25em;
  color: rgba(246, 224, 54, 1);
}
.header-list a,
.header-list a:hover,
.header-list a:active{
  text-decoration: none;
  color: #fff;
}
.header-list a:hover{
  color: black;
  background-color: white;
}

.header-list a.logo {
  font-size: 60px;
}


.page-banner{
  position: relative;
  overflow: hidden;
  height: 500px;
  width: 100%;
  background-color: black;
}
.page-banner > *{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
}
.page-banner > h1{
  color: white;
  text-align: center;
  font-size: 200px;
}


.nav-logo {
  left: 0px;
  position: fixed;
  top: 0auto;
}

.todo-list-item{
  padding: 5px 10px 5px 0;
  border: #F6E036;
}

input.todo-list-item-checkbox{
  margin-right: 1em;
}

.todo-list-item-title{
}

.todo-list-item-title-input{
  display: none;
  width: auto;
  min-width: 80%;
}

.complete-todo-list-item .todo-list-item-title{
  text-decoration: line-through;
}

.todo-list-item-submit-button,
.todo-list-item-cancel-button{
  display: none;
}

.todo-list-item.editing-todo-list-item .todo-list-item-submit-button,
.todo-list-item.editing-todo-list-item .todo-list-item-cancel-button,
.todo-list-item.editing-todo-list-item .todo-list-item-title-input{
  display: inline;
}

.todo-list-item.editing-todo-list-item .todo-list-item-title,
.todo-list-item.editing-todo-list-item .todo-list-item-edit-button,
.todo-list-item.editing-todo-list-item .todo-list-item-move-up-button,
.todo-list-item.editing-todo-list-item .todo-list-item-move-down-button,
.todo-list-item.editing-todo-list-item .todo-list-item-delete-button
{
  display: none;
}


.hometext {
  padding: 1em;
  margin: 0;
  color: white;
 /* font-family: 'Yanone Kaffeesatz', sans-serif;*/
  font-size: 2em;
}

.hometext a:link {
  color: white;
  text-decoration: none;
}

.hometext a:visited {
  text-decoration: none;
  color: white;
}

.hometext a:hover {
  text-decoration: underline;
  color: white;
}

.homepage-gradient-block {
  padding-top: 1.5em;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  opacity: .9;
  border-top: 5px solid #F6E036;
  border-bottom: 5px solid #F6E036;
  background: linear-gradient(to right, grey 10%, black 90%);;
}

/*.pp{
  animation-duration: 10s;
  animation-name: slidein;
}

keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}*/
.todo-list-controls > * {
  margin-bottom: 5px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

